.World-style{
    justify-content: center;
    text-align: center;
    justify-items: center;
    background-color: #020202;
    flex-direction: column;
    height: min-content;
    padding: 5rem;
}

.world-center{
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
