.Services-style{
    flex-direction: column;
    display: flex;
    padding: 5rem;
    justify-content: center;
    text-align: center;
    justify-items: center;
    width: 100%;
    height: auto;
    gap: 5rem;
}